/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*.log
.DS_Store
spec/apps/**/*.png
spec/video-records/*.mp4

# docker testing
docker_root/*.log
docker_root/*.mp4
docker_root/*.png